.location-weather {
    font-size: 2rem;
    margin: 12px 0 2px;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    margin-bottom: 20px;
}

.current-temperature {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent);
    margin: 0;
}

.current-time, .current-feels-like {
    font-size: 0.85rem;
    color: var(--text);
    opacity: 0.7;
}

.hourly-table{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    gap: 12px;
    margin: 0 auto;
    max-width: 900px;
}

.hourly-entry {
    display: flex;
    flex-flow: column wrap;
    flex: 0 0 auto;
    width: 240px;
    border: 1px solid var(--border);
    padding: 10px;
    gap: 6px;
    border-radius: 5px;
    background-color: var(--bg);
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.hourly-time {
    font-size: 0.85rem;
    opacity: 0.7;
}

.hourly-temperature {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-h);
}

.hourly-feels-like {
    font-size: 0.85rem;
    color: var(--text);
}
